@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: var(--color-cyan-950);
  --color-bg: #0a0a0a;
  --color-text: #ededed;
}

/* ----------- GLOBALS ----------- */
html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-dark) var(--color-bg);
  @apply selection:bg-sky-950;
}

/* Chrome */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-dark);
  border-radius: 4px;
}
